.blogContent {
  padding: 64px 128px;
}

.blogContent h3 {
  font-family: "Nunito";
  font-size: 35px;
  font-weight: 700;
  margin-top: 54px;
  margin-bottom: 18px;
}

.blogContent p {
  font-size: 18px;
  line-height: 32px;
}
